body {
    color: white;
}
 
.container {
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    background-color: #3ecec4;
    border-radius: 10px;
    box-shadow: 0 4px 6px #3ecec4;
}
 
h1 {
    font-size: 2rem;
    text-align: center;
    color: black;
    margin-bottom: 1rem;
}
.p{
    font-size: 20px;
}
 
.error {
    background-color: rgba(255, 0, 0, 0.8);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 1rem;
}
 
input[type="submit"] {
    background-color: #84fab0;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
 
input[type="submit"]:hover {
    background-color: #8fd3f4;
}

.alert {
    padding: 15px;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 1.1rem;
}
 
.alert-danger {
    background-color: rgba(255, 76, 76, 0.8);
    border-color: rgba(255, 76, 76, 0.8);
    color: #ffffff;
}
 
.alert-success {
    background-color: rgba(76, 255, 76, 0.8);
    border-color: rgba(76, 255, 76, 0.8);
    color: #ffffff;
}

.success {
  background-color: rgba(0, 255, 0, 0.8);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 1rem;
}
